/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require sweetalert
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";

 body {
   margin: 0px !important;
 }
 .mt30 {
   margin-top: 30px;
 }

 .page-content {
   width: 40%;
   margin: 15vh auto;

   .header {
     font-size: 24px;
     display: flex;
     width: 35%;
     margin: 10px auto;
     .login {
       margin-right: 5%;
       &:hover {
         cursor: pointer;
       }
     }
     .signup {
       margin-left: 5%;
       &:hover {
         cursor: pointer;
       }
     }
     .active {
       color: #4e83f5;
     }
   }

   .links {
     .btn-facebook {
       padding: 10px 20px;
       background-color: #3b5998 ;
       color: white ;
       border: none;
       margin-top: 20px;
       width: 220px;
       margin-left: 10px;
     }

     .btn-google {
       padding: 10px 20px;
       background-color: #d34836 ;
       color: white ;
       border: none;
       margin-top: 20px;
       width: 220px;
       margin-right: 10px;
       float: right;
     }
   }


   .line {
       position: relative;
       z-index: 1;
       text-align: center;
       margin: 20px auto;

       &:before {
           border-top: 2px solid #dfdfdf;
           content:"";
           margin: 0 auto;
           position: absolute;
           top: 50%; left: 0; right: 0; bottom: 0;
           width: 95%;
           z-index: -1;
       }

       span {
           background: #fff;
           padding: 0 15px;
           color: #dfdfdf;
           font-size: 20px;
       }
   }
   .login-content , .signup-content {
     margin: 5px 10px;
   }
   .btn-submit {
     padding: 10px 20px;
     background-color: #4e87ff;
     color: white;
     border: none;
     margin-top: 20px;
     width: 97%;
     margin-left: 10px;
     &:hover {
       cursor: pointer;
     }
   }
   .hidden {
     display: none;
   }
 }
