/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require sweetalert
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";

 body {
   margin: 0px !important;
   background: #f3f3f3;
 }
 .mt30 {
   margin-top: 30px;
 }

 .page-content {
   width: 40%;
   margin: 15vh auto;

   .header {
     font-size: 24px;
     display: flex;
     width: 35%;
     margin: 10px auto;
     .login {
       margin-right: 5%;
       &:hover {
         cursor: pointer;
       }
     }
     .signup {
       margin-left: 5%;
       &:hover {
         cursor: pointer;
       }
     }
     .active {
       color: #4e83f5;
     }
   }

   .links {
     .btn-facebook {
       padding: 10px 20px;
       background-color: #3b5998 ;
       color: white ;
       border: none;
       margin-top: 20px;
       width: 220px;
       margin-left: 10px;
     }

     .btn-google {
       padding: 10px 20px;
       background-color: #d34836 ;
       color: white ;
       border: none;
       margin-top: 20px;
       width: 220px;
       margin-right: 10px;
       float: right;
     }
   }


   .line {
       position: relative;
       z-index: 1;
       text-align: center;
       margin: 20px auto;

       &:before {
           border-top: 2px solid #dfdfdf;
           content:"";
           margin: 0 auto;
           position: absolute;
           top: 50%; left: 0; right: 0; bottom: 0;
           width: 95%;
           z-index: -1;
       }

       span {
           background: #fff;
           padding: 0 15px;
           color: #dfdfdf;
           font-size: 20px;
       }
   }
   .login-content , .signup-content {
     margin: 5px 10px;
   }
   .btn-submit {
     padding: 10px 20px;
     background-color: #4e87ff;
     color: white;
     border: none;
     margin-top: 20px;
     width: 97%;
     margin-left: 10px;
     &:hover {
       cursor: pointer;
     }
   }
 }

 .hidden {
   display: none;
 }

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px 20%;
  border-bottom: 1px solid #e5ebec;
  margin-bottom: 40px;
  .nav-left {
    width: 50%;
    padding: 10px 0px;
    color: #1688b7;
    &:hover {
      cursor: pointer;
    }
  }

  .nav-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0px;
    .nav-tab {
      width: 33.33%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.pl20 {
  padding-left: 20%;
}
.posts {
  padding: 10px 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 11px;

  .post-box {
    width: 302px;
    margin: 20px;
    border: 1px solid #eee;
    background: white;
    .header {
      padding: 15px 10px;
      border-bottom: 1px solid #eee;
      display: flex;
      .name {
        width: 90%;
      }
    }
    .caption {
      padding: 15px 10px;
      border-top: 1px solid #eee;
    }
  }
}

.hr {
  margin: 20px 20%;
  border-top: 1px solid #d2d0d0;
}
.new-post-form {
  padding: 10px 20%;
  margin-bottom: 50px;
  .header {
    color: #009dff;
  }

  .caption {
    border: 1px solid #eee;
    width: 100%;
    height: 50px;
    padding: 15px;
    margin: 10px 0px;
  }

  .submit {
    background: #a1d1ec;
    border: none;
    color: white;
    float: right;
  }
}
.follow, .unfollow {
  color: #3cb9ff;
  &:hover {
    cursor: pointer;
  }
}

.users {
  padding: 15px 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .user-box {
    width: 45%;
    padding: 10px;
    border: 1px solid #eee;
    margin: 2.5%;
    background: white;
    display: flex;
    .header {
      display: flex;
      flex-direction: row;
      width: 95%;
      .name {
        width: 90%;
      }
    }
  }
}
